<!-- block explorer -->
<div class="tab-pane fade" id="tab_blocks">
  <div class="row">
    <div class="col-sm-6">

      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">bigchainDB</h2>
        </div>

        <div class="panel-body">

          <div class="form-group">
            <label class="control-label col-sm-6" for="type">current block:</label>
            <div class="col-sm-6">
              <label  class="form-control" id="totalBlocks"></label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-6" for="type">total assets:</label>
            <div class="col-sm-6">
              <label  class="form-control" id="totalAssets"></label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-6" for="type">total votes:</label>
            <div class="col-sm-6">
              <label  class="form-control" id="totalVotes"></label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-6" for="type">total backlog:</label>
            <div class="col-sm-6">
              <label  class="form-control" id="totalBacklog"></label>
            </div>
          </div>

          <br /><h4>Transactions</h4>


          <div class="form-group">
            <label class="control-label col-sm-6" for="type">genesis:</label>
            <div class="col-sm-6">
              <label  class="form-control" id="totalGenesis"></label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-6" for="type">create:</label>
            <div class="col-sm-6">
              <label  class="form-control" id="totalCreate"></label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-6" for="type">transfer:</label>
            <div class="col-sm-6">
              <label  class="form-control" id="totalTransfer"></label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-6" for="type">total:</label>
            <div class="col-sm-6">
              <label  class="form-control" id="totalTransactions"></label>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="col-sm-6">

      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">Charts</h2>
        </div>

        <div class="panel-body col-sm-12">
          <div id="chartTransactionsDiv">
            <canvas id="chartTransactions" width="400" height="180"></canvas>
          </div>
          <div id="chartBlockRateDiv">
            <canvas id="chartBlockRate" width="400" height="180"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
