<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand"><img src="mojix-color.png" style="height:28px"></span>
      <a class="navbar-brand" href="#tab_welcome" data-toggle="tab" style='font-size:18pt'>VizixBigchain</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#tab_participants" data-toggle="tab">Participants</a></li>
        <li><a href="#tab_blocks" data-toggle="tab">Blocks Explorer</a></li>
        <li><a href="#tab_assets" data-toggle="tab">Assets Explorer</a></li>
        <li><a href="#tab_navigator" data-toggle="tab">Epcis Nav</a></li>
        <li><a href="#tab_visibility" data-toggle="tab">Visibility Data Matrix</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ><a href="#"><span id="username">root</a> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" onclick="cleanDatabase()">Clean Database</a></li>
            <!--
            <li><a href="#">testnet</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Homestead</a></li>
          -->
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
