<!-- participants -->
<div class="tab-pane fade" id="tab_participants">

  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">VizixBigchain node</h2>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">node name:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="node-name"></label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">node server:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="node-server"></label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">public key:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="node-publicKey"></label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label col-sm-10" >
              <button type="button" class="btn btn-default tab-header-button" 
              onclick="addAccount()">add participant</button>
            </label>
          </div>
        </div>
      </div>
    </div>        
  </div>

  <div class="row tab-header">
    <div class="col-sm-8">
      <h3>Participants</h3>
    </div>
    <div class="col-sm-4 tab-header-column">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">Party A</h2>
        </div>

        <div class="panel-body">

          <div class="form-group">
            <label class="control-label col-sm-4" for="type">public key:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="publicKeyx">eJCQYhx64miL8YiLnT4e3LGZ57Yui11M78W3DbzHoBQu</label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">private key:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="publicKeyx">GZ57Yui11M78W3DbzHoBQeJCQYhx64miL8YiLnT4e3Lu</label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">host key:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="hostKey">W3DbzHoBQGZ57Yui11M78</label>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4" for="type">Channels</label>
            <div class="col-sm-8">
              <a type="button" class="btn btn-default" onclick="addChannel()">add channel</a>
            </div>
          </div>

          </span>

          <div class="form-group">
            <table id="table-channels" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Channel Name</th>
                  <th>shared secret</th>
                  <th>participants</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Channel 0</td>
                  <td>HoBQueJCQYhx64miL8YiLnT4e3LGZ57Yui11M78W3Dbz</td>
                  <td>[Party A, Party B]</td>
                </tr>
                <tr>
                  <td>Channel 1 - Contract/NS 1</td>
                  <td>HoBQueJCQYhx64miL8YiLnT4e3LGZ57Yui11M78W3Dbz</td>
                  <td>[Party A, Party B]</td>
                </tr>
                <tr>
                  <td>Channel 3 - Contract/NS 2</td>
                  <td>HoBQueJCQYhx64miL8YiLnT4e3LGZ57Yui11M78W3Dbz</td>
                  <td>[Party A, Party B]</td>
                </tr>
                <tr>
                  <td>Channel 2</td>
                  <td>8YiLnT4e3LGZ57Yui11M78W3DbzHoBQueJCQYhx64miL</td>
                  <td>[Party A, Party C]</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- party B (fake) !-->
  <div class="row">
    <div class="col-sm-10">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">Party B</h2>
        </div>

        <div class="panel-body">

          <div class="form-group">
            <label class="control-label col-sm-4" for="type">public key:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="publicKeyx">6ba9b3094fbb4fb0c91936df98c73e5d</label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">host key:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="hostKey">W3DbzHoBQGZ57Yui11M78</label>
            </div>
          </div>

          <div class="form-group">
            <table id="table-channels" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Channel Name</th>
                  <th>shared secret</th>
                  <th>participants</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Channel 1</td>
                  <td>HoBQueJCQYhx64miL8YiLnT4e3LGZ57Yui11M78W3Dbz</td>
                  <td>[Party A, Party B]</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- party C (fake) !-->
  <div class="row">
    <div class="col-sm-10">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">Party C</h2>
        </div>

        <div class="panel-body">

          <div class="form-group">
            <label class="control-label col-sm-4" for="type">public key:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="publicKeyx">37f7d1391fb1d860036002130e365855</label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="type">host key:</label>
            <div class="col-sm-8">
              <label  class="form-control" id="hostKey">W3DbzHoBQGZ57Yui11M78</label>
            </div>
          </div>

          <br>Channels<br>
          <div class="form-group">
            <table id="table-channels" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Channel Name</th>
                  <th>shared secret</th>
                  <th>participants</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Channel 2</td>
                  <td>8YiLnT4e3LGZ57Yui11M78W3DbzHoBQueJCQYhx64miL</td>
                  <td>[Party A, Party C]</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-sm-9">
      <table id="table-parties" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Party Name</th>
            <th>public key</th>
            <th>private key</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

</div>
