
{{> navbarMenu }}

<div class="container" role="main">
  <div class="tab-content">
  {{> welcome }}
  {{> participants }}
  {{> blockExplorer }}
  {{> assetsExplorer }}
  {{> epcisNavigator }}
  {{> epcisMatrix }}
  </div>
</div>

<footer class="footer navbar-fixed-bottom">
    <div id="statusbar" class="alert "></div>
</footer>
