<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VizixBigchainDB - Secret Party</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <link href="css/app.css" rel='stylesheet' type='text/css'>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/handlebars.min.js"></script>
    <script src="js/requires.js"></script>
    <script src="js/highlight.pack.js" type="text/javascript" ></script>
    <script src="js/Chart.min.js" type="text/javascript" ></script>

    <script src="js/utils.js"></script>
    <script src="js/blCharts.js"></script>
    <script src="js/chainWebsocket.js"></script>
    <script src="js/app.js"></script>
  </head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{{body}}}


<div class="modal " id="infoDialog" tabindex="-1" role="dialog" aria-labelledby="infoDialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info-dialog-title">Info</h4>
      </div>
      <div class="modal-body">
        <div id="info-dialog-alert" class="alert "></div>
        <div id="info-dialog-error" class="alert alert-danger"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
